.Translations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 48em){
    .Translations {
        grid-template-columns: repeat(8, 1fr);
    }
    
}

.TranslationImage {
    height: 50%;
}